body{
    padding:20px;
    margin:60px;
    background-color: rgb(171, 171, 171);
}

h1{
    text-align: center;
    color:red;
    font-size: 72px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 9px 3px 5px rgb(1, 1, 63);
}

h2{
    color: aqua;
}

p{
    border-radius: 20px 40px 60px 80px;
    background-color: brown;
    padding: 100px;
    font-size: 50px;
}